<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bus.mapper.standard.JzCdMapper">

    <resultMap type="com.ruoyi.bus.domain.standard.JzCd" id="jzCdResult">
        <result property="id" column="id"/>
        <result property="no" column="no"/>
        <result property="size" column="size"/>
        <result property="work" column="work"/>
        <result property="money" column="money"/>
        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectJzCdVo">
        select id, `no`, `size`, `work`, money, create_by, create_time, update_by,
            update_time, remark
        from standard_jz_cd
    </sql>

    <select id="selectJzCdList" parameterType="com.ruoyi.bus.domain.standard.JzCd" resultMap="jzCdResult">
        <include refid="selectJzCdVo"/>
        <where>
        </where>
    </select>

    <select id="selectJzCdById" parameterType="Long" resultMap="jzCdResult">
        <include refid="selectJzCdVo"/>
        where id = #{id}
    </select>

    <insert id="insertJzCd" parameterType="com.ruoyi.bus.domain.standard.JzCd" useGeneratedKeys="true" keyProperty="id">
        insert into standard_jz_cd
        <trim prefix="(" suffix=")" suffixOverrides=",">
            `no`, `size`, `work`, money, create_by, create_time, remark,
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            #{no}, #{size}, #{work}, #{money}, #{createBy}, #{createTime},
            #{remark},
        </trim>
    </insert>

    <update id="updateJzCd" parameterType="com.ruoyi.bus.domain.standard.JzCd">
        update standard_jz_cd
        <trim prefix="SET" suffixOverrides=",">
            `no` = #{no}, `size` = #{size}, `work` = #{work}, money = #{money},
            update_by = #{updateBy}, update_time = #{updateTime},
            remark = #{remark},
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteJzCdById" parameterType="Long">
        delete
        from standard_jz_cd
        where id = #{id}
    </delete>

    <delete id="deleteJzCdByIds" parameterType="String">
        delete from standard_jz_cd where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectByNo" resultMap="jzCdResult">
        <include refid="selectJzCdVo"/>
        where `no` = #{no}
    </select>

</mapper>