<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bus.mapper.OrderMapper">

    <resultMap type="com.ruoyi.bus.domain.Order" id="orderResult">
        <result property="orderNo" column="orderNo"/>
        <result property="orderType" column="orderType"/>
        <result property="workTime" column="workTime"/>
        <result property="workLevel" column="workLevel"/>
        <result property="money" column="money"/>

        <result property="consumerId" column="consumerId"/>
        <result property="consumerName" column="consumerName"/>

        <result property="nurseId" column="nurseId"/>
        <result property="nurseName" column="nurseName"/>

        <result property="status" column="status"/>

        <result property="evaluationId" column="evaluationId"/>

        <result property="delFlag" column="delFlag"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <association property="consumer" column="consumerId"
                     javaType="com.ruoyi.bus.domain.Consumer"
                     select="com.ruoyi.bus.mapper.ConsumerMapper.selectConsumerById"
        />
        <association property="nurse" column="nurseId"
                     javaType="com.ruoyi.bus.domain.Nurse"
                     select="com.ruoyi.bus.mapper.NurseMapper.selectNurseById"
        />
    </resultMap>

    <sql id="selectOrderVo">
        select orderNo,
               orderType,
               workTime,
               workLevel,
               money,
               consumerId,
               consumerName,
               nurseId,
               nurseName,
               status,
               evaluationId,
               create_by,
               create_time,
               update_by,
               update_time,
               remark
        from `order`
    </sql>

    <select id="selectOrderList" parameterType="com.ruoyi.bus.domain.Order" resultMap="orderResult">
        <include refid="selectOrderVo"/>
        <where>
            delFlag = '0'
            <if test="orderType != null  and orderType != ''">and orderType = #{orderType}</if>
            <if test="workTime != null  and workTime != ''">and workTime = #{workTime}</if>
            <if test="workLevel != null  and workLevel != ''">and workLevel = #{workLevel}</if>
            <if test="money != null ">and money = #{money}</if>
            <if test="consumerId != null ">and consumerId = #{consumerId}</if>
            <if test="consumerName != null and consumerName != '' ">and consumerName = #{consumerName}</if>
            <if test="nurseId != null ">and nurseId = #{nurseId}</if>
            <if test="nurseName != null and nurseName != '' ">and nurseName = #{nurseName}</if>
            <if test="status != null and status != '' ">and status = #{status}</if>
            <if test="evaluationId != null ">and evaluationId = #{evaluationId}</if>
        </where>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="orderResult">
        <include refid="selectOrderVo"/>
        where orderNo = #{orderno}
    </select>

    <insert id="insertOrder" parameterType="com.ruoyi.bus.domain.Order">
        insert into `order`(orderNo, orderType, workTime, workLevel, money, consumerId,
                          nurseId, status, evaluationId, create_by, create_time, remark)
        values (#{orderNo}, #{orderType}, #{workTime}, #{workLevel}, #{money},
                #{consumerId}, #{nurseId}, #{status}, #{evaluationId},
                #{createBy}, sysdate(), #{remark})
    </insert>

    <update id="updateOrder" parameterType="Order">
        update `order`
        <trim prefix="SET" suffixOverrides=",">
            orderType = #{orderType}, workTime = #{workTime}, workLevel = #{workLevel},
            money = #{money}, consumerId = #{consumerId}, nurseId = #{nurseId},
            status = #{status}, evaluationId = #{evaluationId},
            update_by = #{updateBy}, update_time = sysdate(), remark = #{remark}
        </trim>
        where orderNo = #{orderNo}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        update `order` set delFlag = '2' where orderNo = #{orderNo}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        update `order` set delFlag = '2' where orderNo in
        <foreach collection="array" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </delete>


    <select id="selectOrderList_mp" parameterType="com.ruoyi.bus.domain.Order" resultMap="orderResult">
        <include refid="selectOrderVo"/>
        <where>
            delFlag = '0'
            <if test="orderType != null  and orderType != ''">and orderType = #{orderType}</if>
            <if test="workTime != null  and workTime != ''">and workTime = #{workTime}</if>
            <if test="workLevel != null  and workLevel != ''">and workLevel = #{workLevel}</if>
            <if test="money != null ">and money = #{money}</if>
            <if test="consumerId != null ">and consumerId = #{consumerId}</if>
            <if test="consumerName != null and consumerName != '' ">and consumerName = #{consumerName}</if>
            <if test="nurseId != null ">and nurseId = #{nurseId}</if>
            <if test="nurseName != null and nurseName != '' ">and nurseName = #{nurseName}</if>
            <if test="status != null and status != '' ">and status = #{status}</if>
            <if test="evaluationId != null ">and evaluationId = #{evaluationId}</if>
        </where>
    </select>

</mapper>