<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.bus.mapper.OrderMapper">

    <resultMap type="com.ruoyi.bus.domain.Order" id="orderResult">
        <result property="orderNo" column="orderNo"/>
        <result property="orderType" column="orderType"/>
        <result property="workTime" column="workTime"/>
        <result property="workLevel" column="workLevel"/>
        <result property="money" column="money"/>

        <result property="deposit" column="deposit"/>

        <result property="consumerId" column="consumerId"/>
        <result property="nurseId" column="nurseId"/>

        <result property="addr" column="addr"/>

        <result property="status" column="status"/>

        <result property="payTime" column="pay_time"/>

        <result property="delFlag" column="delFlag"/>

        <result property="createBy" column="create_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateBy" column="update_by"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>

        <association property="consumer" column="consumerId"
                     javaType="com.ruoyi.bus.domain.Consumer"
                     select="com.ruoyi.bus.mapper.ConsumerMapper.selectConsumerById"
        />
        <association property="nurse" column="nurseId"
                     javaType="com.ruoyi.bus.domain.Nurse"
                     select="com.ruoyi.bus.mapper.NurseMapper.selectNurseById"
        />
        <association property="evaluation" column="orderNo"
                     javaType="com.ruoyi.bus.domain.Evaluation"
                     select="com.ruoyi.bus.mapper.EvaluationMapper.selectEvaluationByOrderNo"
        />

        <collection property="meta" column="orderNo"
                    javaType="java.util.List" ofType="com.ruoyi.bus.domain.OrderMeta"
                    select="com.ruoyi.bus.mapper.OrderMapper.selectOrderMeta"
        />
    </resultMap>

    <sql id="selectOrderVo1">
        select o.orderNo,
               o.orderType,
               o.workTime,
               o.workLevel,
               o.money,
               o.deposit,
               o.consumerId,
               o.nurseId,
               o.addr,
               o.status,
               o.create_by,
               o.create_time,
               o.pay_time,
               o.update_by,
               o.update_time,
               o.remark
        from `order` o
                 inner join consumer c on o.consumerId = c.consumerId
                 inner join nurse n on o.nurseId = n.nurseId
    </sql>

    <sql id="selectOrderVo2">
        select orderNo,
               orderType,
               workTime,
               workLevel,
               money,
               deposit,
               consumerId,
               nurseId,
               addr,
               status,
               create_by,
               create_time,
               pay_time,
               update_by,
               update_time,
               remark
        from `order`
    </sql>

    <select id="selectOrderList" parameterType="com.ruoyi.bus.domain.Order" resultMap="orderResult">
        <include refid="selectOrderVo1"/>
        <where>
            o.delFlag = '0'
            <if test="orderType != null  and orderType != ''">and o.orderType = #{orderType}</if>
            <if test="workTime != null  and workTime != ''">and o.workTime = #{workTime}</if>
            <if test="workLevel != null  and workLevel != ''">and o.workLevel = #{workLevel}</if>
            <if test="money != null ">and o.money = #{money}</if>
            <if test="consumerId != null ">and o.consumerId = #{consumerId}</if>
            <if test="consumerName != null and consumerName != '' ">and c.name like concat('%', #{consumerName},
                '%'
            </if>
            <if test="nurseId != null ">and o.nurseId = #{nurseId}</if>
            <if test="nurseName != null and nurseName != '' ">and n.name like concat('%', #{nurseName}, '%')</if>
            <if test="status != null and status != '' ">and o.status = #{status}</if>
            <if test="addr != null and addr != '' ">and o.addr = #{addr}</if>
        </where>
    </select>

    <select id="selectOrderById" parameterType="Long" resultMap="orderResult">
        <include refid="selectOrderVo2"/>
        where orderNo = #{orderno}
    </select>

    <insert id="insertOrder" parameterType="com.ruoyi.bus.domain.Order">
        insert into `order`(orderNo, orderType, workTime, workLevel, money, deposit, consumerId,
                            nurseId, addr, create_by, create_time, remark)
        values (#{orderNo}, #{orderType}, #{workTime}, #{workLevel}, #{money}, #{deposit},
                #{consumerId}, #{nurseId}, #{addr}, #{createBy}, sysdate(), #{remark})
    </insert>

    <update id="updateOrder" parameterType="Order">
        update `order`
        <trim prefix="SET" suffixOverrides=",">
            orderType = #{orderType}, workTime = #{workTime}, workLevel = #{workLevel},
            money = #{money}, deposit = #{deposit},
            consumerId = #{consumerId}, nurseId = #{nurseId}, addr = #{addr}, status = #{status},

            <if test="updateBy != null  and updateBy != ''">
                update_by = #{updateBy},
            </if>

            update_time = sysdate(),
            remark = #{remark}, pay_time = #{payTime}
        </trim>
        where orderNo = #{orderNo}
    </update>

    <delete id="deleteOrderById" parameterType="Long">
        update `order`
        set delFlag = '2'
        where orderNo = #{orderNo}
    </delete>

    <delete id="deleteOrderByIds" parameterType="String">
        update `order` set delFlag = '2' where orderNo in
        <foreach collection="array" item="orderNo" open="(" separator="," close=")">
            #{orderNo}
        </foreach>
    </delete>

    <select id="selectOrderList_mp" parameterType="com.ruoyi.bus.domain.Order" resultMap="orderResult">
        <include refid="selectOrderVo1"/>
        <where>
            o.delFlag = '0'
            <if test="orderType != null  and orderType != ''">and o.orderType = #{orderType}</if>
            <if test="workTime != null  and workTime != ''">and o.workTime = #{workTime}</if>
            <if test="workLevel != null  and workLevel != ''">and o.workLevel = #{workLevel}</if>
            <if test="money != null ">and o.money = #{money}</if>
            <if test="consumerId != null ">and o.consumerId = #{consumerId}</if>
            <if test="consumerName != null and consumerName != '' ">and c.name like concat('%', #{consumerName},
                '%'
            </if>
            <if test="nurseId != null ">and o.nurseId = #{nurseId}</if>
            <if test="nurseName != null and nurseName != '' ">and n.name like concat('%', #{nurseName}, '%')</if>
            <if test="status != null and status != '' ">and o.status = #{status}</if>
            <if test="addr != null and addr != '' ">and o.addr = #{addr}</if>
        </where>
    </select>

    <insert id="insertOrderMeta" parameterType="java.util.List">
        insert into `order_meta`(orderNo, label, `data`)
        values
        <foreach collection="list" item="meta" index="index" separator=",">
            (#{meta.orderNo}, #{meta.label}, #{meta.data})
        </foreach>
    </insert>

    <select id="selectOrderMeta" parameterType="java.lang.Long" resultType="com.ruoyi.bus.domain.OrderMeta">
        select orderNo, label, `data`
        from `order_meta`
        where orderNo = #{orderNo}
    </select>

</mapper>